a {
  text-decoration: none;
}

.hamburguer{
  border-top: 2px solid #0A0406;
  width: 30px;
  color: #0A0406;
}

.hamburguer::after, .hamburguer::before{
  content: '';
  display: block;
  width: 30px;
  height: 2px;
  margin-top: 5px;
  background: currentColor;
  transition: .4s;
  position: relative;
}

.menu-open .hamburguer{
  border-top-color: transparent;
}

.menu-open .hamburguer::after{
  transform: rotate(135deg);
  top: -7px;
}
.menu-open .hamburguer::before{
  transform: rotate(-135deg);
}

.hover-underline {
  position: relative;
  color: inherit; /* Cor do link */
  text-decoration: none; /* Remove o sublinhado padrão */
}

.hover-underline::after {
  content: '';
  display: block;
  width: 0;
  height: 1.5px;
  background-color: #FFC6F3; /* Cor do sublinhado */
  transition: width 0.3s ease-in-out; /* Transição suave */
  position: absolute;
  bottom: -2px; /* Ajusta a posição do sublinhado */
  left: 0;
}

.hover-underline:hover::after {
  width: 100%; /* Expande o sublinhado ao passar o mouse */
}
